---
layout: posts
---

<div class="archive">
  {% for post in site.posts %}
    {% assign currDate = post.date | date: "%Y" %}

    {% if currDate != date %}
      <h1 class="archive-year">
        {{ currDate }}
      </h1>

      {% assign date = currDate %}
    {% endif %}

    <div class="archive-item d-flex justify-content-between">
      <a href="{{ post.url | relative_url }}" class="archive-title">
        {{ post.title }}
      </a>

      <span class="post-date archive-date">
        {{ post.date | date: "%B %d, %Y" }}
      </span>
    </div>
  {% endfor %}
</div>
