---
layout: posts
---

<div class="archive">
  {% for post in site.posts %}
    {% assign currDate = post.date | date: "%Y" %}

    {% if currDate != date %}
      <h1 class="archive-year">
        {{ currDate }}
      </h1>

      {% assign date = currDate %}
    {% endif %}

    <div class="row archive-item">
      <div class="col col-md-8">
        <a href="{{ post.url | relative_url }}" class="archive-title">
          {{ post.title }}
        </a>
      </div>

      <div class="col col-md-4">
        <span class="float-end post-date archive-date">
          {{ post.date | date: "%B %d, %Y a las %H:%M" }}
        </span>
      </div>
    </div>
  {% endfor %}
</div>
