---
layout: default
title: Software Engineer and Ruby on Rails Developer
---

<section class="hero">
  <h1>Hello, I'm Francisco Quintero, Software Engineer and <span class="ror">Ruby on Rails</span> Developer</h1>

  <div class="chevrons">
    <i>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-down">
        <polyline points="7 13 12 18 17 13"></polyline>
        <polyline points="7 6 12 11 17 6"></polyline>
      </svg>
    </i>
  </div>
</section>

<section class="information">
  <h2 class="subtitle">
    Tech I Work With
  </h2>

  <div style="height:2rem"></div>

  <ol class="stuff list-reset">
    {% for tech in site.data.stack %}
      <li>
        <a href="javascript: void(0);">
          <div class="stuff-item">
            <div class="card-box-outer">
              <div class="card-box-inner">
                <div class="card">
                  <img src="{{tech.logo}}" alt="{{tech.atl_text}}">
                </div>
              </div>
            </div>
  
            <div style="height:1rem"></div>
            <h3 class="card-name">{{tech.name}}</h3>
            <div style="height:0.5rem"></div>
            <p class="card-description"></p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ol>

  <div style="height:4rem"></div>

  <h2 class="subtitle">
    Currently Working At
  </h2>

  <div style="height:2rem"></div>

  <ol class="stuff list-reset work-experience">
    <li>
      <a href="https://ideaware.co/" target="_blank">
        <div class="stuff-item">
          <div class="card-box-outer">
            <div class="card-box-inner">
              <div class="card">
                <img src="/images/companies/ideaware.svg" alt="Ideaware">
              </div>
            </div>
          </div>

          <div style="height:1rem"></div>
          <h3 class="card-name">Ideaware</h3>
          <div style="height:0.5rem"></div>
          <p class="card-description"></p>
        </div>
      </a>
    </li>
  </ol>

  <div style="height:4rem"></div>

  <h2 class="subtitle">
    Places I've Worked
  </h2>

  <div style="height:2rem"></div>

  <ol class="stuff list-reset work-experience">
    {% for job in site.data.work %}
      <li>
        <a href="{{job.url}}" target="_blank">
          <div class="stuff-item">
            <div class="card-box-outer">
              <div class="card-box-inner">
                <div class="card">
                  <img src="{{job.logo}}" alt="{{job.name}}">
                </div>
              </div>
            </div>

            <div style="height:1rem"></div>
            <h3 class="card-name">{{job.name}}</h3>
            <div style="height:0.5rem"></div>
            <p class="card-description">{{job.description}}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ol>

  <div style="height:4rem"></div>

  <h2 class="subtitle">
    Writing & eBooks
  </h2>

  <div style="height:2rem"></div>

  <ol class="stuff list-reset">
    {% for text in site.data.writing %}
      <li>
        <a href="{{text.url}}" target="_blank">
          <div class="stuff-item">
            <div class="card-box-outer">
              <div class="card-box-inner">
                <div class="card">
                  <img src="{{text.logo}}" alt="{{text.name}}">
                </div>
              </div>
            </div>

            <div style="height:1rem"></div>
            <h3 class="card-name">{{text.name}}</h3>
            <div style="height:0.5rem"></div>
            <p class="card-description">{{text.description}}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ol>

  <div style="height:8rem"></div>
</section>
