---
title: Francisco Quintero
description: Software Engineer and Backend Developer
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Engineer and Ruby on Rails Backend Developer">
    <meta name="author" content="Francisco Quintero">
    <meta property="og:title" content="Francisco Quintero, Software Engineer">
    <meta property="og:image" content="https://cesc1989.github.io/franciscoquintero/public/images/francisco-quintero.jpg">
    <meta property="og:description" content="Software Engineer and Ruby on Rails Backend Developer">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Francisco Quintero, Software Engineer">
    <meta name="twitter:creator" content="@cescquintero">
    <title>Francisco Quintero - Software Engineer</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="public/stylesheets/main.css">
  </head>
  <body>
    <header class="header">
      <section class="card">
        {% include sidebar.html %}
      </section>
    </header>
    <section class="content">
      <section class="section">
        {% include jobs.html %}
      </section>

      <section class="section">
        <h2>Sources &amp; Forks</h2>
      </section>

      <section class="section">
        <h2>Blog</h2>
      </section>

    </section>
  </body>
</html>
