<h2>Blog Posts I've written</h2>

<p>
	In <strong><a href="https://otroespacioblog.wordpress.com" target="_blank">Otro Espacio Blog</a></strong> I write about software related topics for things I've learnt while coding or working in software projects.
</p>

<p>
	In <strong><a href="https://medium.com/medium-colombia" target="_blank">Medium Colombia</a></strong> and also in my <strong><a http="" target="_blank">Medium profile</a></strong> I've tried writing other topics not so related to software. Off topic ideas I wanted to get out of my head :)
</p>

<ul class="list">
	<li class="card">
		{% assign ordered_posts = site.data.blog | reverse %}
		{% for post in ordered_posts %}
		  <h4>
		  	<a href="{{ post.url }}" target="_blank">{{ post.name }}</a>
		  </h4>
		{% endfor %}
	</li>
</ul>
