<footer>
  <ul class="list-reset links">
    <li>
      <a href="https://www.linkedin.com/in/frajaquico/" target="_blank" class="link" title="My LinkeIn Profile">
        <img src="/images/footer/linkedin.svg" alt="My LinkeIn Profile">
      </a>
    </li>

    <li>
      <a href="https://github.com/cesc1989/" target="_blank" class="link" title="My GitHub Profile">
        <img src="/images/footer/github.svg" alt="@cesc1989 at GitHub">
      </a>
    </li>

    <li>
      <a href="https://twitter.com/cescquintero" target="_blank" class="link" title="@cescquintero">
        <img src="/images/footer/twitter.svg" alt="@cescquintero">
      </a>
    </li>

    <li>
      <a href="mailto:frajaquico@gmail.com?subject=Mail from website" class="link" title="Get in touch">
        <img src="/images/footer/gmail.svg" alt="Contact Me">
      </a>
    </li>

    <li>
      <a href="http://bit.ly/franciscoquinterocv" class="link" title="See my CV" target="_blank">
        <img src="/images/footer/curriculum_vitae.svg" alt="See my CV">
      </a>
    </li>
  </ul>
</footer>

<div style="height:6rem"></div>