<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Software Engineer and Ruby on Rails Backend Developer">
<meta name="author" content="Francisco Quintero">
<meta property="og:title" content="Francisco Quintero, Software Engineer">
<meta property="og:image" content="https://cesc1989.github.io/franciscoquintero/images/francisco-quintero.jpg">
<meta property="og:description" content="Software Engineer and Ruby on Rails Backend Developer">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Francisco Quintero, Software Engineer">
<meta name="twitter:creator" content="@cescquintero">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">

<title>
  {% if page.title %}
    {{ page.title }} | {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
