<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% assign default_description = "Ingeniero de Software y Desarrollador Ruby on Rails" %}
{% assign page_description = page.description | default: default_description %}
{% assign page_title = page.title | default: site.title %}

<meta name="description" content="{{ page_description }}">
<meta name="author" content="Francisco Quintero">
<meta property="og:title" content="{{ page_title }} | {{ site.title }}">
<meta property="og:image" content="https://www.franciscoquintero.com/images/og-image.png">
<meta property="og:description" content="{{ page_description }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page_title }} | {{ site.title }}">
<meta name="twitter:description" content="{{ page_description }}">
<meta name="twitter:image" content="https://www.franciscoquintero.com/images/og-image.png">
<meta name="twitter:creator" content="@cescquintero">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">

<title>
  {% if page.title %}
    {{ page.title }} | {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
