<h2>GitHub Sources &amp; Open Source Contributions</h2>
<ul class="list">
  <li class="card">
    <div class="left same_width">
      <h3>Sources</h3>
      {% assign ordered_sources = site.data.sources | reverse %}
      {% for source in ordered_sources %}
        <h4>
          <a href="{{ source.url }}" target="_blank">{{ source.name }}</a>
        </h4>
        <p>{{ source.description }}</p>
      {% endfor %}
    </div>
    <div class="right same_width">
      <h3>Open Source Contributions</h3>
      {% assign ordered_forks = site.data.forks | reverse %}
      {% for fork in ordered_forks %}
        <h4>
          <a href="{{ fork.url }}" target="_blank">{{ fork.name }}</a>
        </h4>
        <p>{{ fork.description }}</p>
      {% endfor %}
    </div>
  </li>
</ul>
