html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #292121;
  margin: 0;
  overflow-x: hidden;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: #5c5151; }

h2 {
  text-decoration: underline; }

.header {
  background-color: #fbfbfb;
  text-align: center;
  padding: 16px; }
  .header ul {
    list-style: none;
    text-align: left; }
    .header ul li {
      padding-top: 14px; }
  @media (min-width: 1024px) {
    .header {
      position: fixed;
      bottom: 0;
      left: 0;
      top: 0;
      width: 360px; } }
  .header img {
    max-width: 200px;
    width: 50%;
    border-radius: 4px; }

@media (min-width: 1024px) {
  .content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 390px;
    right: 0;
    width: calc(100% - 360px); }
    .content ul.list {
      list-style: none; }
      .content ul.list li.card {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 12px; }
        .content ul.list li.card div.left, .content ul.list li.card div.right {
          display: inline-block; }
        .content ul.list li.card div.left {
          vertical-align: top;
          width: 38%; }
        .content ul.list li.card div.right {
          width: 52%; }
          .content ul.list li.card div.right h5 {
            margin-bottom: 6px; }
        .content ul.list li.card div.left.same_width, .content ul.list li.card div.right.same_width {
          width: 48%; } }

.content .section {
  padding: 16px; }
  .content .section.section_1 {
    background-color: #fcfcfc; }
  .content .section.section_2 {
    background-color: #f9f9f9; }
  .content .section.section_3 {
    background-color: #fefefe; }
