html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #292121; }

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #5c5151; }

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 360px;
  background-color: #fbfbfb;
  text-align: center;
  padding: 16px; }

.header ul {
  list-style: none;
  text-align: left; }

.header ul li {
  margin-left: 0;
  padding-top: 14px; }

.content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 416px; }

.content .section {
  padding: 16px 24px; }
