.navbar {
  margin-bottom: 2rem;
  border-bottom: 0.125rem solid hsl(0, 0%, 30%);
}

.archive-year {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.archive-item {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
