$texts_color: #292121;
$titles_color: #5c5151;

html, body{
  height: 100%;
  width: 100%;
  color: #555;
  color: var(--gray-color);
}

body{
  padding: 0 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ol{
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

svg {
  height: 100%;
  width: 100%;
}

@-webkit-keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes fade-in {
  0%    { opacity: 0; }
  25%   { opacity: 0; }
  50%   { opacity: 0; }
  75%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-webkit-keyframes upper-chevron {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes upper-chevron {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@-webkit-keyframes lower-chevron {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes lower-chevron {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

.hero {
  width: 100vw;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  position: relative;

  h1 {
    font-size: 3rem;
    position: relative;
    top: 30%;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
  }

  .chevrons {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 6%;
    height: 3rem;
    width: 3rem;

    polyline:last-child {
      -webkit-animation-name: upper-chevron;
              animation-name: upper-chevron;
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      will-change: transform;
    }

    polyline:first-child {
      -webkit-animation-name: lower-chevron;
              animation-name: lower-chevron;
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      will-change: transform;
    }
  }
}

.information {
  margin: 0 auto;

  .subtitle {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .stuff {
    display: grid;
    grid-gap: 4rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

    a:hover {
      .card {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
      }
    }

    .stuff-item {
      .card-box-outer {
        position: relative;

        &::before {
          display: block;
          content: "";
          padding-top: 75%;
        }

        .card-box-inner {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          .card {
            align-items: center;
            background-color: rgb(248, 248, 248);
            border-radius: 0.4em;
            display: flex;
            justify-content: center;
            height: 100%;
            transition: all 100ms ease-in-out;

            img {
              height: 55%;
              width: 55%;
            }
          }
        }
      }

      .card-name {
        font-weight: 400;
        font-size: 1.4rem;
      }

      .card-description {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.4em;
      }
    }
  }

  .work-experience {
    .card {
      img {
        height: auto !important;
      }
    }
  }

  .list-reset {
    list-style-type: none;
    padding: 0;
  }
}