$texts-color: #292121;
$sidebar-background-color: #FBFBFB;
$titles-color: #5c5151;

$wide: 1024px;

html, body{
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: $texts-color;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

h1, h2, h3, h4, h5{
  font-family: 'Roboto', sans-serif;
  color: $titles-color;
}

.header{
  background-color: $sidebar-background-color;
  text-align: center;
  padding: 16px;

  ul{
    list-style: none;
    text-align: left;

    li{
      padding-top: 14px;
    }
  }

  @media(min-width: #{$wide}){
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 360px;
  }

  img{
      max-width: 200px;
      width: 50%;
      border-radius: 4px;
  }
}

.content{
  @media(min-width: #{$wide}){
    position: absolute;
    bottom: 0;
    top: 0;
    left: 390px;
    right: 0;
    width: calc(100% - 360px);
  }

  .section{
    padding: 16px;

    ul{
        &.job_list{
        list-style: none;

        li{
          &.job_card{
            width: 100%;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;

            div{
              &.left, &.right{
                width: 48%;
                display: inline-block;
              }

              &.left{
                vertical-align: top;
              }

              &.right{
                h5{
                  margin-bottom: 6px;
                }
              }
            }
          }
        }
      }
    }
  }
}
